@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Hair'),
         url('fonts/firasans-hair.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Hair Italic'),
         url('fonts/firasans-hairitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'),
         url('fonts/firasans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular Italic'),
         url('fonts/firasans-regularitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold'),
         url('fonts/firasans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold Italic'),
         url('fonts/firasans-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

body {
  border-top: .5em solid #ececec;
  color: #333;
  font-family: 'Fira Sans';
  margin: 0 ;
  max-width: 70%;
  padding: 1em 15%;
}

h1 {
  color: #238b45;
  font-weight: 400;
  font-size: 1.5em;
}

h2 {
  color: #238b45;
  font-weight: 400;
  font-size: 1em;
}

a {
  color: #cb4b16;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

header {
  color: #238b45;
  font-weight: 300;
  font-size: 2.5em;
}
div.bioinfo{
  width: 100%;
  border-bottom: .1em solid #ececec;
  border-top: .1em solid #ececec;
}

div.container{
  width: 100%;
  border-bottom: .1em solid #ececec;
  float:left;
}

div.news{
  width: 49%;
  border-right: .1em solid #ececec;
  float:left;
}

div.posts{
  width: 49%;
  float:right;
}

footer {
  
}
